.wrapper {
    width: 100%;
    background-color: lightcyan;
}

img {
    background-image: url(aman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#text {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:100px;
    font-weight:bold;
    left:150px;
    top:350px;
}
