body {
    background: white url("images/background.png");
}
.side-nav{
	background: white url("images/background.png");
}
.panel2{
	background: white url("images/teacher.png");
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left:70px;
}
