<!DOCTYPE HTML>
<html>
	<head>
		
		<title>{% block title %} {% endblock %}</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'attend/style.css' %}">
		<link rel="stylesheet" href="{% static 'attend/bootstrap/css/bootstrap.min.css' %}">

		 <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<style type="text/css">
  #panel1{
  height:130px;
  background-color:#800000;
}
.marquee {
   width: 500px;
   margin: 0 auto;
   background:;
   white-space: nowrap;
   overflow: hidden;
   box-sizing: border-box;
   color:blue;
   font-size:18px;
}

.marquee span {
   display: inline-block;
   padding-left: 100%;
   text-indent: 0;
   animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
</style>
	</head>
	<body>

		<nav>
  		<div class="container-fluid">
    <div class="nav-wrapper">
       <div class="brand-logo center">Attendance Manager</div>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'attend:home' %}">Welcome!! {{username}}</a></li>
        <li><script type="text/javascript">
          var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;
document.write(today);
        </script></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'attend:changepassword' %}">Change Password</a></li>
      <li><a href="{% url 'attend:logout' %}">Log Out</a></li>
		  </ul>
      <ul class="side-nav" id="mobile-demo">
          <div class="card-panel " id="panel1">
            <div class="panel2"></div>
       </div>
         <li><a href="{% url 'attend:home' %}">Welcome!! {{username}}</a></li>
         <li><a href="{% url 'attend:changepassword' %}">Change Password</a></li>
		     <li><a href="{% url 'attend:logout' %}">Log Out</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <p class="marquee">
    <span id="dtText"> Welcome To Attendance Manager Mark Today Attendance</span>
</p>
		<script type="text/javascript" src="main1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
       <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script>
    $(".button-collapse").sideNav();
    $(document).ready(function() {
    $('select').material_select();
    });
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    // $('.collapsible').collapsible();
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
   
    </script>
		{% block body %} {% endblock %}
	</body>
</html>