{% extends 'attend/base-account.html' %}
{% block title %}Change Password{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Change Password</h3>
			{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
			{% endif %}
			<form class="form-horizontal" role="form" method="post" action=" " enctype="multipart/form-data" onsubmit="return checkForm(this);">
			{% csrf_token %}
				<div class="form-group">
					<label for="email" class="col-md-2 control-label">Email:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="email" placeholder="Enter Email">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-2 control-label">New Password:</label>
					<div class="col-md-6">
						<input id="password" type="password" class="form-control" name="pwd1" placeholder="Enter Password" required>
					</div>
				</div>
                <div class="form-group">
					<label for="repeatpassword" class="col-md-2 control-label">Confirm New Password:</label>
					<div class="col-md-6">
						<input id="repeatpassword" type="password" class="form-control" name="pwd2" placeholder="Enter Password Again" required onkeyup="checkPass();return false;">
					</div>
				</div>
				<span id="confirmMessage" class="confirmMessage"></span>
				<div class="form-group">
					<div class="col-md-6">
						<button id="myBtn" class="btn waves-effect waves-light animated shake" type="submit" name="action">Submit
    						<i class="material-icons right">send</i>
  						</button>
                    </div>
                </div>
				<script type="text/javascript">
       /* function checkPass()
        {
            var pass1=document.getElementById('password');
            var pass2=document.getElementById('repeatpassword');
            var message=document.getElementById('confirmMessage');
            var goodColor="#66cc66";
            var badColor="#ff6666";
            if(pass1.value==pass2.value)
            {
                pass2.style.backgroundColor=goodColor;
                message.style.color=goodColor;
                message.innerHTML="Passwords Match!"
            }
            else
            {
                pass2.style.backgroundColor=badColor;
                message.style.Color=badColor;
                message.innerHTML="Passwords Do Not Match!"
            }

        }*/
               function checkForm(form)
  {
    
    if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) {
      if(form.pwd1.value.length < 6) {
        alert("Error: Password must contain at least six characters!");
        form.pwd1.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.pwd1.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.pwd1.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.pwd1.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.pwd1.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.pwd1.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.pwd1.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.pwd1.focus();
      return false;
    }

   // alert("You entered a valid password: " + form.pwd1.value);
    return true;
  }
            </script>
			</form>
		</div>
	</div>
</div>
{% endblock %}