{% extends 'attend/base.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h3>Contact</h3>
			<form class="form-horizontal" role="form" method="post" action=" " enctype="multipart/form-data">
			{% csrf_token %}
				{% include 'attend/form_template.html' %}
				<div class="form-group">
					<div class="col-md-6 col-md-offset-2">
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit
   						 <i class="material-icons right">send</i>
  						</button>
					</div>
				</div>
			</form>
			<footer>
				<h5>Contact Us</h4>
				<div class="footer-line">
					<div class="row">
						<div class="footer-links">
						<h6>Email:shubhankergoyal@gmail.com</h5>
						<h6>Contact No:8527608277</h5>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
