{% extends 'attend/base-account.html' %}
{% block title %}Detail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
		{% if success_message %}
		<p><strong>{{ success_message }}</strong></p>
		{% endif %}
		<h3>{{clas.semester}}th{{clas.branch}}{{clas.section}}-{{clas.subject}}</h3>
		<div class="collection">
			<a href="{% url 'attend:create_student' clas.id %}" class="collection-item active">Add Student</a>
		</div>
		<h5>List of students in the Class</h5>
		<table class="table">
			<thead>
				<tr>
					<th>UNIVERSITY ROLL NO.</th>
					<th>STUDENT NAME</th>
				</tr>
			</thead>
			<tbody>
			{% for student in clas.student_set.all %}
				<tr>
					<td>{{student.univ_roll_no}}</td>
					<td>{{student.name}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

