{% extends 'attend/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="containter">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h3>Register</h3>
			<form class="form-horizontal" role="form" method="post" action=" " enctype="multipart/form-data">
			{% csrf_token %}
				<div class="form-group">
					<label for="username" class="control-label col-md-2">Username:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="username" placeholder="Enter Username">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-2 control-label">Password:</label>
					<div class="col-md-5">
						<input type="password" class="form-control" name="password" placeholder="Enter Password">
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-2 control-label">Email:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="email" placeholder="Enter Email">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-6">
						<button id="myBtn" class="btn waves-effect waves-light" type="submit" name="action">Register
    						<i class="material-icons right">send</i>
  						</button>
  						<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
   <div class="containter">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h3>Registation Successful</h3>
			You have been successfully registered. <a href="{% url 'attend:index' %}">Click here</a> to log in.
		</div>
	</div>
</div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

  					</div>
				</div>
				<div class="panel-footer">
                    Already have an account? <a href="{% url 'attend:index' %}">Click here</a> to log in.
                </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
