{% extends 'attend/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="containter">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h3>Register</h3>
			<form class="form-horizontal" role="form" method="post" action=" " enctype="multipart/form-data" onsubmit="return checkPass()">
			{% csrf_token %}
				<div class="form-group">
					<label for="username" class="control-label col-md-2">Username:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="username" placeholder="Enter Username">
					</div>
				</div>
                <div class="form-group">
					<label for="firstname" class="control-label col-md-2">First Name:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="firstname" placeholder="Enter First Name">
					</div>
				</div>
                <div class="form-group">
					<label for="lastname" class="control-label col-md-2">Last Name:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="lastname" placeholder="Enter Last Name">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-2 control-label">Password:</label>
					<div class="col-md-5">
						<input id="password" type="password" class="form-control" name="password" placeholder="Enter Password" required>
					</div>
				</div>
                <div class="form-group">
					<label for="repeatpassword" class="col-md-2 control-label">Confirm Password:</label>
					<div class="col-md-5">
						<input id="repeatpassword" type="password" class="form-control" name="repeatpassword" placeholder="Enter Password Again" required onkeyup="checkPass();return false;">
					</div>
				</div>
                <span id="confirmMessage" class="confirmMessage"></span>
				<div class="form-group">
					<label for="email" class="col-md-2 control-label">Email:</label>
					<div class="col-md-5">
						<input type="text" class="form-control" name="email" placeholder="Enter Email">
					</div>
				</div>
                <div class="form-group">
					<div class="col-md-6">
						<button id="myBtn" class="btn waves-effect waves-light" type="submit" name="action">Register
    						<i class="material-icons right">send</i>
  						</button>
                    </div>
                </div>

				<div class="panel-footer">
                    Already have an account? <a href="{% url 'attend:index' %}">Click here</a> to log in.
                </div>
                <script type="text/javascript">
        function checkPass()
        {
            var pass1=document.getElementById('password');
            var pass2=document.getElementById('repeatpassword');
            var message=document.getElementById('confirmMessage');
            var goodColor="#66cc66";
            var badColor="#ff6666";
            if(pass1.value==pass2.value)
            {
                pass2.style.backgroundColor=goodColor;
                message.style.color=goodColor;
                message.innerHTML="Passwords Match!"
            }
            else
            {
                pass2.style.backgroundColor=badColor;
                message.style.Color=badColor;
                message.innerHTML="Passwords Do Not Match!"
            }

        }
            </script>
			</form>
		</div>
	</div>
</div>

{% endblock %}
